.allfollower-border{
    border: 1px solid #e0e0e0;;
    width: 500px;
  
    /* background-color:#FFCCFF; */
    position: relative;
    top: 190px;
    left: 35%;
}
.retext-position{
    position: relative;
    left: 39%;
    top: 190px;

}
.usersimg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    
}

body{
    background-color: white;
}

.text-position10{
    position: relative;
    top:0px;
   
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}
.follow-position1{
    position: relative;
    right: -100px;
    top: -20px;
}
.border12{
    border: 1px solid #e0e0e0;
}