.chat-left{
   
    position: relative;
   
    border: 1px solid red;
   
}
.chat-header{
    width: 20%;
    height: 10%;
    
    
}
.chat-list{
    border: 1px solid red;
    width: 20%;
    height: 500px;
    position: relative;
    left: 300px;
}
.chat-right{
    position: relative;
    left: 610px;
    top:-500px;
    border: 1px solid red;
    width: 40%;
}