
.text-color{
    color: pink;
}

.Story-position{
   
    margin-right: 30px;
    margin-bottom: 0px;
   
    z-index:10;
    
}
.position{
    position: relative;
    left:32%;
    top:50%;
}
.story-border{
    border: 1px solid #e0e0e0;
   
    position: relative;
    top:200px;
    left: 20%;
    padding-top: 0px;
   
    height: 100px;
    width: 650px;
    white-space:nowrap;
    clip-path: inset(0 0 0 0);

}


.button-style{
    margin-left: 5px;
    position: relative;
    top:-20px;
    
    
}

.button-style1{
    margin-right: 5px;
    position: relative;
    top:-20px;
    background-color: #CCE5FF;

    
}
button{
	border:none;
    
}
.myButton3 {
	box-shadow:inset 0px -1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:19px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:0px 0px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton3:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}


.story-position2{
    position: relative;
    left: 0;
}        
.position2{
    position:fixed;
    left: 15%;
    top:180px;
}
.Story-button{
    position: absolute;
    top:40%;
    right:0%; 
    z-index: 300;
 }

 .Story-button1{
    position: absolute;

    top:40%;
    left: 0%;
    z-index: 300;
 }
 .border-setting{
     border: 1px solid black;
 }
 .story-border button{
     background-color: #fff;
     color: gray;
     border-radius: 50%;
     cursor: pointer;
     box-shadow: 0 0 10px #999;
 }


.smooth{
    opacity: 0.7;
}

.ibutton-size{
    width: 20px;
    height: 20px;
    
}

.b-size{
    position: absolute;

    top:23%;
    left: 7px;
 font-size: 13px;
}
.b-size-r{
    position: absolute;

    top:23%;
    right: 7px;
 font-size: 13px;
}