.Modal-style{
    width: 800px;
    height:800px;
    background-color: black;
    background: url(https://i.pinimg.com/564x/6e/e9/6a/6ee96aa7fc064647ab352b34b01f105f.jpg);
    background-repeat:no-repeat 
    
}

.Modal-style2{
    width: 800px;
    height:800px;
    background-color: black;
    background: url(https://i.pinimg.com/736x/0f/6d/73/0f6d732ab07b52d07ffb1c3bd040113c.jpg);
    background-repeat:no-repeat 
}
.text-color{
    color: pink;
}
body{
    background-color: black;
    background: url(https://i.pinimg.com/736x/0f/6d/73/0f6d732ab07b52d07ffb1c3bd040113c.jpg);
    background-repeat:no-repeat 
}