.s4Iyt {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
/* .ui-flex{
  
  display: flex;
  justify-content: space-between;
} */
.ui-set{
  align-items:flex-end;
}
.ui-size{
  width: 40%;
}
.logo-position{
  position: relative;
  left:20%;
  top:60px;
} 
.header-size{
  height: 100px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 50px;
  margin-bottom: 30px;
  /* border: 1px solid black; */
  width: 100%;
  position: fixed;
  z-index: 100;
  background: white;
}
.update-button {
  background-color: pink;
  width: 180px;
  height: 50px;
  border: 0;
  outline: 0;
  margin-top: 50px;
  color: white;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 40px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: 0.5s;
  
}
.update-button :hover{
  
  transform: scale( 1.5 )
}
.follower-size{
  
  width: 50px;
  height: 50px;
}
.follower-location{
  margin-top: 10PX;
  /* position: relative;
  height: 40%; */
  margin-right: 500px;
  /* float:right; */

}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

body{
  font-family: 'Nanum Pen Script', cursive;
  
}

.pagination-margin{
  margin: 10px;
  font-size: 30px;
}
.profile-margin{
  text-size:30px;
  margin-top:15px;
}
.story{
  font-size: 50px;
}
/* .pid-size{
  width: 600px;
  height: 600px;
} */
.pid-position{
  

  margin-left: 20%;
  margin-top: 10px;


}



.comment-border{
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.in-line{
  border: 1px solid #999999;
  width:400px;
  height:800px;
  margin-top: 20px;
  padding-right: 50px;
 
}
.user-size{
  text-size:80px;
  margin-bottom: 5px;
  

}
.user-margin{
  margin-top: 10px;
  /* margin-left: 50px; */
  /* margin-bottom: 10px; */
}
.text-size{
  text-size:100px;
}
.comment{

  margin-top: 50px;
  margin-bottom: 10px;
}
.Story-size{
  width: 56px;
  height: 56px;
  cursor: pointer;
  border-radius: 50px;
}
.Story-back{
  background: linear-gradient(rgb(231,0,231),rgb(235,115,0));
  width: 80px;
  height: 80px;
  position: relative;
 
  border-radius: 50%;
  border: 1px solid black;
}
.input-position{
  position: relative;
  top:30px;
  left:50px;
  width: 400px;
  height: 20px;
  border:0 solid black;
  

}
input:focus{outline:none;}
.input-margin{
  margin-left: 420px;
  top:10px;
}
.text-position{
 position: relative;
 left: 10%;

}
.Main-position{
  float:right;
  position: fixed;
  /* position: relative; */
  top:160px;
  right: 200px;
  
  
}
.Right-border{
 
 width: 300px;
 padding: 20px;
 
}
.Main-leftposition{
  float:left;
}
.img-style{
  border-radius: 50%;
}
.good-position{
  position: relative;
  left: 40px;
  margin-top: 10px;
  /* margin-bottom: 10px; */
}
.profile-size{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  left: 60px;
  top:-30px;
  
 

}
.good-people{
  position: relative;
  top:-40px;
  left: 60px;

  
}
.story-index{
  z-index: 100;
}
.profile-size1{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  position: relative;
  right: 5%;
  float: left;
}
.my-margin{
  margin-bottom: 20px;
  position: relative;
  left: 13%;
  top:20px;

}
.update-position{
  position: relative;
  top:50px;
  right: 80px;
  width: 30px;
  height: 30px;
  color: black;
  cursor:pointer;
}
.Main-background{
 background-color: gray;
}
.page-margin{
  margin-right: 3px;
}
.page-position{
  position: relative;
  right: 120px;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #FFCCE5 5%, #ff99cc 100%);
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #FFCCFF;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	/* padding:6px 24px; */
	text-decoration:none;
	text-shadow:0px 1px 0px white;
}
.myButton:hover {
	background:linear-gradient(to bottom, #FFCCE5 5%, #FF66b2 100%);
	background-color:pink;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton1 {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom,#FFCCE5 5%, #ff99cc 100%);
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #FFCCFF;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 2px;
	text-decoration:none;
	text-shadow:0px 1px 0px white;
}
.myButton1:hover {
	background:linear-gradient(to bottom, #FFCCE5 5%, #FF66b2 100%);
	background-color:#bc80ea;
}
.myButton1:active {
	position:relative;
	top:1px;
}
.story-index1{
  position:relative;
  top:0;
  left: 20%;
  z-index: 300;
}
.recomenn-margin{
  margin-top: 50px;
}
a{
  text-decoration-line: none;
}
@media screen and (max-width: 1400px) { .Main-position{display: none;}}
@media screen and (max-width: 1400px) { .media{display: none;}}

.recomen-position{
  display: flex;
  justify-content: space-between;
}
.recom-button{
  position:relative;
  top:20px;
}
.Right-border{
  display: fixed;
}
.follower-position{
  display: flex;
  justify-content: space-around;
}

.follower-textposition{
  position: relative;
  right: -20px;
  top: -20px;
}
.middle-position{
  position: relative;
  top:-20px;
  left: 10%;
 
}
.middle-position1{
  position: relative;
  top:-15px;
  right: 40px;
  color: black;
}
.follower-margin{
  margin-top: 10px;
}

.follower-border{
 
  position: relative;
  top:-30px;
}

.w-btn1 {
  position: relative;
  border: none;
  display: inline-block;
  /* padding: 15px 30px; */
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.w-btn1-outline {
  position: relative;
  /* padding: 15px 30px; */
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.w-btn1-indigo {
  background-color: aliceblue;
  color: #1e6b7b;
}

.w-btn1-indigo-outline {
  border: 3px solid aliceblue;
  color: #1e6b7b;
}

.w-btn1-indigo-outline:hover {
  color: #1e6b7b;
  background: aliceblue;
}

.w-btn1-pink {
  background-color: #f199bc;
  color: white;
 
}
.w-btn1-pink-outline {
  border: 3px solid #f199bc;
  color: #6e6e6e;
}
.w-btn1-pink-outline:hover {
  background-color: #f199bc;
  color: #d4dfe6;
}

.w-btn1:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}

.w-btn1-outline:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}

.w-btn1:active {
  transform: scale(1.5);
}

.w-btn1-outline:active {
  transform: scale(1.5);
}

.test{
  border: 1px solid black;
  float: right;
  width: 30%;
}