body{
  display: contents;
font-family: arial, sans-serif;

}
.logposition{
  position: relative;
  left: 50px;
  top: 30px;
  
}
.iposition{
  float: right;
  position: relative;
  right: 260px;
  top:20px;
  /* margin-top: 70px; */
  margin-right: 30px;
  cursor: pointer;
}

